<div class="navbox-subgroup">
  {% if include.group.label %}<div class="navbox-subgroup-label">{{ include.group.label }}</div>{% endif %}
  {% if include.group.items %}
  <ul class="navbox-list">
    {%- for item in include.group.items %}<li>
      {%- assign item_title = item.title | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip -%}
      {%- include navbox-item-link.html page=item.page link=item.link title=item_title -%}
      {%- if item.subitems %} (<ul class="navbox-subitem-list">
        {%- for subitem in item.subitems -%}
        <li>
          {%- assign subitem_title = subitem.title | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip -%}
          {%- include navbox-item-link.html page=subitem.page link=subitem.link title=subitem_title -%}
        </li>
        {%- endfor -%}
      </ul>)
      {%- endif -%}
    </li>{%- endfor %}
  </ul>
  {% endif %}
</div>
