<div class="navbox-subgroup">
  {% if include.group.label %}<div class="navbox-subgroup-label">{{ include.group.label }}</div>{% endif %}
  {% if include.group.items %}
  <ul class="navbox-list">
    {% for item in include.group.items %}
    <li>
      {%- assign item_title = item.title | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip -%}
      {%- if item.link -%}<a href="{{ item.link | relative_url }}">{{ item_title }}</a>{%- else -%}{{ item_title }}{%- endif -%}
      {%- if item.subitems -%}
      (<ul class="navbox-subitem-list">
        {%- for subitem in item.subitems -%}
        <li>
          {%- assign subitem_title = subitem.title | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip -%}
          {%- if subitem.link -%}<a href="{{ subitem.link | relative_url }}">{{ subitem_title }}</a>{%- else -%}{{ subitem_title }}{%- endif -%}
        </li>
        {%- endfor -%}
      </ul>)
      {%- endif -%}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
