{% assign navbox = include.data %}
{% assign colors = site.data.colors[navbox.colors] %}
{% assign navbox_title = navbox.title | markdownify | replace: '<p>', '' | replace: '</p>', '' | strip %}
<nav aria-label="{{ navbox_title | strip_html }}"
  style="--navbox-accent: {{ colors.accent }}; --navbox-content: {{ colors.content }}; --navbox-background: {{ colors.background }};">
  <details class="navbox" open>
    <summary>
      {%- include navbox-item-link.html page=navbox.title_page link=navbox.title_link title=navbox_title -%}
    </summary>
    {% for group in navbox.groups %}
      {% include navbox-group.html group=group depth=0 %}
    {% endfor %}
  </details>
</nav>
