.expansion-box {
  border-left: 4px solid var(--box-accent);
  background-color: var(--box-content);
  margin: 1em 0;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
}

.expansion-box > :last-child {
  margin-bottom: 0;
}
