/* Treasures, Dragons & Adventurers layout background overrides */
body {
  background-color: #975f31;
}

#content-wrapper {
  background-color: #975f31;
}

#main-content {
  background-color: #faf1e8;
  border-left: 4px solid #6e4422;
  padding-left: 20px;
}

footer {
  background-color: #6e4422;
  border-top: 1px solid #573418;
}
